body{
background:#000;
color:white;
font-family:Arial;
margin:0;
}

nav{
background:#111;
padding:20px;
text-align:center;
}

nav a{
color:gold;
text-decoration:none;
margin:15px;
font-size:20px;
}

header{
text-align:center;
padding:50px;
}

header img{
width:200px;
}

h1{
color:gold;
font-size:60px;
}

h2{
color:#b56dff;
}

section{
padding:40px;
}
